<nav class="navbar nnavbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Movies & Tv Wiki</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Login</a></li>
      <li><a href="#">Favorites</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form
          action="/search?source=hp"
          method="post"
          id="search-form"
          class="form-inline"
        >
          <div class="form-group">
            <select name="cat" class="form-control" id="cat">
              <option value="movie">Movie Title</option>
              <option value="person">Actor</option>
            </select>
          </div>

          <input
            type="text"
            id="movie"
            placeholder="Movie, Tv Show or Actor"
            name="movieSearch"
          />

          <input type="submit" class="btn btn-info" />
        </form>
      </li>
    </ul>
  </div>
</nav>
